<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video hosting</title>
    <link rel="stylesheet" href="../static/js_and_css/page.css">
    <link rel="stylesheet" th:href="@{js_and_css/page.css}" />
</head>
<body>
    <header class="headeres">
        <img class="headeres-img" src="./icon.jpg" alt="" width="50px">
        <input class="headeres-inp" type="search" name="" id="" placeholder="Поиск"> 
        <button class="headeres-but"></button>
        <h1 class="headeres-h1">Video hosting</h1>
    </header>
    <div class="vid">
        <div class="vid-pos pos">
                <a href="" class="myA">
                    <img class="pos-img" src="./i (1).webp" alt="">
                    <h2 class="myA-h2 myH2">Загаловок</h2>
                    <p class="myA-p myP">Описание</p>
                </a>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (2).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>

        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <a href="" class="myA"> 
                <h2 class="myA-h2 myH2">Загаловок</h2>
                <p class="myA-p myP">Описание</p>
            </a>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (2).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <a href="" class="myA"> 
                <h2 class="myA-h2 myH2">Загаловок</h2>
                <p class="myA-p myP">Описание</p>
            </a>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (2).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>

        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <a href="" class="myA"> 
                <h2 class="myA-h2 myH2">Загаловок</h2>
                <p class="myA-p myP">Описание</p>
            </a>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (2).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
        <div class="vid-pos pos">
            <img class="pos-img" src="./i (1).webp" alt="">
            <h2>Загаловок</h2>
            <p>Описание</p>
        </div>
    </div>
    <footer>
        <h3>Информация для обратной связи</h3>
    </footer>
</body>
</html>