body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
    width: 100%;     
    background-color: #194f6c;
}


div{
    text-align: center;
    background-color: #1c8fa4;
    border-radius: 15px;
    border-color: #1c8fa4;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5)
}

h1{
    color: #eef8e8;
    background: rgb(92,192,203);
    background: linear-gradient(90deg, rgba(92,192,203,1) 35%, rgba(28,143,164,1) 100%);
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(92,192,203);
    border-color: linear-gradient(90deg, rgba(92,192,203,1) 35%, rgba(28,143,164,1) 100%);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5)
}

form {
    display: grid;
    grid-template-columns: auto;
    color: #eef8e8;
}

input, button{
    margin: 10px;
    border-color: #5cc0cb;
    border-radius: 10px;
    border-width: 5px;
}

input{
    background-color: #eef8e8;
    color: #5cc0cb;
}

button{
    background-color: #eef8e8;
    color: #5cc0cb;
}

button:hover{
    background-color: #5cc0cb;
    color: #eef8e8;
}

a{
    text-decoration: none;
    color: #eef8e8;
}

a:hover{
    color: #5cc0cb;
}

